/* GLOBAL COLORS 
background: #e31c04;
*/

/* GLOBAL STYLES */

body {
    background-image: url(images/background.png);
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
}

.navbar {
    background: #E31C04;
}

.navbar-nav .active, .navbar-nav a:hover {
    color: black;
}

.nav-link {
    color: white;
    font-size: 20px;
    text-align: center;
}

.text-uppercase {
    color: black;
    font-size: 24px;
}
/* navbar custom icon */
.navbar-toggler-icon {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}